target/
.idea/
.idea/compiler.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_8.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_8.xml
.idea/libraries/Maven__com_alibaba_druid_1_0_20.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_1_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_5_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_5_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_5_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_guava_2_5_3.xml
.idea/libraries/Maven__com_google_guava_guava_15_0.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__junit_junit_3_8_1.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_30.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
.idea/libraries/Maven__org_apache_commons_commons_pool2_2_4_2.xml
.idea/libraries/Maven__org_apache_tomcat_el_api_6_0_36.xml
.idea/libraries/Maven__org_apache_tomcat_jsp_api_6_0_36.xml
.idea/libraries/Maven__org_apache_tomcat_servlet_api_6_0_36.xml
.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_13.xml
.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_13.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_5_2_4_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_2_1_Final.xml
.idea/libraries/Maven__org_mybatis_mybatis_3_4_0.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_3_0.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_16_12.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_22.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_10_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_10_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_10_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_10_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_10_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_10_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_10_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_10_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_10_RELEASE.xml
.idea/libraries/Maven__redis_clients_jedis_2_8_1.xml
.idea/workspace.xml
permission.iml
target/classes/cn/hgxsp/common/JsonData.class
target/classes/cn/hgxsp/common/SpringExceptionResolver.class
target/classes/cn/hgxsp/controller/TestController.class
target/classes/cn/hgxsp/dao/SysAclMapper.class
target/classes/cn/hgxsp/dao/SysAclModuleMapper.class
target/classes/cn/hgxsp/dao/SysDeptMapper.class
target/classes/cn/hgxsp/dao/SysLogMapper.class
target/classes/cn/hgxsp/dao/SysRoleAclMapper.class
target/classes/cn/hgxsp/dao/SysRoleMapper.class
target/classes/cn/hgxsp/dao/SysRoleUserMapper.class
target/classes/cn/hgxsp/dao/SysUserMapper.class
target/classes/cn/hgxsp/dao/TestDao.class
target/classes/cn/hgxsp/exception/HgxspException.class
target/classes/cn/hgxsp/model/SysAcl.class
target/classes/cn/hgxsp/model/SysAclModule.class
target/classes/cn/hgxsp/model/SysDept.class
target/classes/cn/hgxsp/model/SysLog.class
target/classes/cn/hgxsp/model/SysLogWithBLOBs.class
target/classes/cn/hgxsp/model/SysRole.class
target/classes/cn/hgxsp/model/SysRoleAcl.class
target/classes/cn/hgxsp/model/SysRoleUser.class
target/classes/cn/hgxsp/model/SysUser.class
target/classes/cn/hgxsp/param/TestVO.class
target/classes/cn/hgxsp/util/BeanValidator.class
target/permission/META-INF/MANIFEST.MF
target/permission/WEB-INF/classes/cn/hgxsp/common/JsonData.class
target/permission/WEB-INF/classes/cn/hgxsp/common/SpringExceptionResolver.class
target/permission/WEB-INF/classes/cn/hgxsp/controller/TestController.class
target/permission/WEB-INF/classes/cn/hgxsp/dao/SysAclMapper.class
target/permission/WEB-INF/classes/cn/hgxsp/dao/SysAclModuleMapper.class
target/permission/WEB-INF/classes/cn/hgxsp/dao/SysDeptMapper.class
target/permission/WEB-INF/classes/cn/hgxsp/dao/SysLogMapper.class
target/permission/WEB-INF/classes/cn/hgxsp/dao/SysRoleAclMapper.class
target/permission/WEB-INF/classes/cn/hgxsp/dao/SysRoleMapper.class
target/permission/WEB-INF/classes/cn/hgxsp/dao/SysRoleUserMapper.class
target/permission/WEB-INF/classes/cn/hgxsp/dao/SysUserMapper.class
target/permission/WEB-INF/classes/cn/hgxsp/dao/TestDao.class
target/permission/WEB-INF/classes/cn/hgxsp/exception/HgxspException.class
target/permission/WEB-INF/classes/cn/hgxsp/model/SysAcl.class
target/permission/WEB-INF/classes/cn/hgxsp/model/SysAclModule.class
target/permission/WEB-INF/classes/cn/hgxsp/model/SysDept.class
target/permission/WEB-INF/classes/cn/hgxsp/model/SysLog.class
target/permission/WEB-INF/classes/cn/hgxsp/model/SysLogWithBLOBs.class
target/permission/WEB-INF/classes/cn/hgxsp/model/SysRole.class
target/permission/WEB-INF/classes/cn/hgxsp/model/SysRoleAcl.class
target/permission/WEB-INF/classes/cn/hgxsp/model/SysRoleUser.class
target/permission/WEB-INF/classes/cn/hgxsp/model/SysUser.class
target/permission/WEB-INF/classes/cn/hgxsp/param/TestVO.class
target/permission/WEB-INF/classes/cn/hgxsp/util/BeanValidator.class
target/permission/WEB-INF/classes/cn/hgxsp/util/BeanValidator.class
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
